.infoArtist {
  align-items: center;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .rightSide {
  align-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
} */

/* .results {
  align-items: center;
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
  height: 100vh;
} */

.albumTitle {
  color: white;
  font-weight: 700;
}

.artistTitle {
  color: white;
  font-size: 10px;
}
