body {
  align-items: center;
  background: linear-gradient(135deg, blue, rgb(78, 223, 248));
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  justify-content: center;
}

.loginComponent {
  align-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.formLogin {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  width: 750px;
}

.title {
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 50px;
}

.input {
  border-color: blue;
  border-radius: 20px;
  color: blue;
  display: flex;
  font-size: 14px;
  height: 40px;
  margin: 5px;
  text-align: center;
  width: 390px;
}

.buttonLogin {
  border-radius: 20px;
  background: blue;
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  padding: none;
  width: 400px;
}
