.search {
  background-color: green;
  display: flex;
}

.rightSide {
  align-content: center;
  align-items: center;
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.form {
  align-items: center;
  display: flex;
  height: 100px;
  padding: 10px;
}

.results {
  align-items: center;
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}
