.search {
  /* background-color: green; */
  display: flex;
  height: 100;
  
}

/* .rightSide {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
} */

.listSongs {
height: 70%;
display: flex;
flex-direction: column;
}

/* .form {
  align-items: center;
  display: flex;
  height: 200px;
  padding: 10px;
  
} */

/* .results {
  align-items: center;
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
  height: 100vh;
} */
